extensions:
  Memio\SpecGen\MemioSpecGenExtension: ~
  PhpSpecCodeCoverage\CodeCoverageExtension:
    format:
      - html
      - clover
    whitelist:
      - packages/file/src/
      - packages/range/src/
      - packages/size/src/
      - src/
    output:
      html: web/coverage
      clover: coverage.clover

suites:
    default: ~

    file:
        namespace: 'InFw\File'
        src_path: packages/file/src
        spec_path: packages/file

    range:
        namespace: 'InFw\Range'
        src_path: packages/range/src
        spec_path: packages/range

    size:
        namespace: 'InFw\Size'
        src_path: packages/size/src
        spec_path: packages/size
