<?php

include __DIR__ . '/security.php';

$config = [];

// Monolog Configs.
$config['monolog'] = [
    'monolog.logfile' => __DIR__ . '/../../var/logs/prod.log',
];

$config['console'] = [
    'console.name' => 'In Framework Console Tool',
    'console.version' => '0.1.0',
    'console.project_directory' => __DIR__ . "/.."
];

// Doctrine Configs.
$config['doctrine'] = [
    'dbal' => [
        'db.options' => [
            'driver' => 'pdo_mysql',
            'host' => 'localhost',
            'dbname' => 'doctrine_todolist',
            'user' => 'root',
            'password' => 'XXXXXX',
            'charset' => 'utf8',
            'driverOptions' => [1002 => 'SET NAMES utf8'],
        ],
    ],
    'orm' => [
        "orm.em.options" => [
            "mappings" => [
                [
                    "type" => "yml",
                    "namespace" => "Core\\Domain\\Infraestructure\\Doctrine\\Entity",
                    "path" => realpath(__DIR__ . "/../../core/Domain/Infraestructure/Doctrine/Mapping"),
                ],
            ],
        ],
    ]
];

$config['translator'] = [
    'translator.domains' => []
];

$config['jws'] = [
    'private.key.path' => __DIR__ . '/../../var/jws/private.pem',
    'private.key.phrase' => 'farsa',
    'public.key.path' => __DIR__ . '/../../var/jws/public.pem',
    'ttl' => 86400
];

$config['twig'] = [
    'twig.path' => __DIR__.'/../resources/views'
];
