.mdl-layout__content {
  flex: 1 0 auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  input {
    margin-left: auto;
    margin-right: auto;
  }
  text-align: center;
}

#login {
  label {
    text-align: left;
  }
  input[type='checkbox'] {
    padding-left: 2em;
  }
}

.error-snack-bar {
  > div {
    border-top: 3px solid red;
  }
}

.demo-layout-transparent {
  background: url('/images/transparent.jpg') center / cover;
  .mdl-layout__header,
  .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    color: white;
  }
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.demo-card-wide {
  > .mdl-card__menu {
    color: #fff;
  }
}
